.wrapper {
  background: url(../img/soccer-field-night-image.jpg) 0 -219px;
  color: #fff;
  padding-bottom: 80px;
  min-height: 100vh;
}

.container-fluid {
  max-width: 500px;
}

input {
  color: #000;
}

.profile {
  float: right;
  color: #fff;
  padding: 1rem;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar-header {
  float: left;
}

footer {
	background-color: #f5f5f5;
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.navbar-inverse {
	margin-bottom: 0;
}

.juego {
  margin: 10px 0;
}

.fecha {
  position: relative;
  background: rgba(0, 0, 0, 0.63);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.fecha .closingDate {
  font-size: 1.5rem;
}

.fecha button.options {
  border: none;
  background: none;
  font-size: 2rem;
  float: right;
}

.juego button.options {
  border: none;
  background: none;
  font-size: 1rem;
  float: right;
  display: flex;
  align-items: center;
  height: 26px;
}

.homeTeamName {
  width: 45%;
  display: inline-block;
  text-align: right;
}

.goalsInput {
  width: 40px;
}

.menuOptions {
  position: absolute;
  right: -120px;
  top: 0;
  background: #eee;
  color: #000;
  min-width: 120px;
  font-size: 1rem;
  padding: 5px;
}

.navbar-default .navbar-nav>li>button {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav>li {
  display: inline-block;
}

.navbar-default {
  border: 0;
}

.navbar, .btn {
  border-radius: 0;
}

.nav-active {
  background: none;
  color: #000;
  border-bottom: 3px solid purple;
  border-top: 0;
  border-right: 0;
}

.toto-nav button {
  background: none;
  border: 0;
}

.agregarFecha {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
  background: rgba(0,0,0,0.6);
}

.agregarFecha h3 {
  margin-top: 0;
}

.agregarFecha input[type=text], .agregarFecha input[type=date] {
  width: 150px;
}

.agregarFecha > div {
  margin: 5px 0;
}

.cuenta ul {
  padding: 0;
}

.cuenta ul li {
  list-style: none;
}

.resultados-component {
  overflow: auto;
}

.puntosFecha table {
  background: rgba(0,0,0,0.6);
}

.puntosFecha th {
  min-width: 45px;
}

.totalsTable table {
  background: rgba(0,0,0,0.6);
}

@media (max-width: 667px) {
  .container-fluid {
    max-width: initial;
  }
  .goalsInput {
    width: 24px;
  }
}